// colors
$txt-cl: black;// text color
$bg-cl: white;// background color
$p1-cl: #7BD454;
$p2-cl: #545454;
$p3-cl: white;
$p4-cl: white;
$p5-cl: white;

// fonts
$control-fnt: "Nimbus Sans L";
$txt-fnt:  "Adelle_Regular";
$fnt-size: 14px;

$padding: 12px;
$margin: 12px;

