/* line 74, social/*.png */
.social-sprite, .footer-wrapper .block .social-sprite li a .social-social-g, .footer-wrapper .block .social-sprite li a .social-social-tw, .footer-wrapper .block .social-sprite li a .social-social-in, .footer-wrapper .block .social-sprite li a .social-social-f, .footer-wrapper .block .social-sprite li a .social-social-yt {
  background: url('../images/social-s204c27c7e5.png') no-repeat;
}

/* line 7, ../sass/style.scss */
body {
  background: white;
  color: black;
  font-family: "Adelle_Regular";
  font-size: 14px;
}

/* line 13, ../sass/style.scss */
.header-wrapper {
  background: #7bd454;
  display: block;
  text-align: center;
}
/* line 18, ../sass/style.scss */
.header-wrapper header {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 960px;
  padding: 12px;
}
/* line 23, ../sass/style.scss */
.header-wrapper header #user_menu {
  float: right;
}
/* line 26, ../sass/style.scss */
.header-wrapper header #user_menu .menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 29, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item {
  font-family: "Nimbus Sans L";
  font-size: 10px;
  font-weight: bold;
  float: left;
  color: white;
  padding: 24px 0 24px 12px;
  cursor: pointer;
}
/* line 38, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item:hover {
  color: #4ea329;
}
/* line 41, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item:last-child {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #5ec431;
  margin-left: 12px;
  text-transform: uppercase;
  padding: 24px 12px;
}
/* line 48, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item:last-child:hover {
  background: #4ea329;
  color: white;
}
/* line 57, ../sass/style.scss */
.header-wrapper header #help_menu {
  float: left;
}
/* line 60, ../sass/style.scss */
.header-wrapper header #help_menu .menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 63, ../sass/style.scss */
.header-wrapper header #help_menu .menu .menu_item {
  float: left;
  font-family: "Nimbus Sans L";
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 24px 0 24px 12px;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 73, ../sass/style.scss */
.header-wrapper header #help_menu .menu .menu_item:hover {
  color: #4ea329;
}
/* line 76, ../sass/style.scss */
.header-wrapper header #help_menu .menu .menu_item:last-child {
  margin-left: 12px;
}
/* line 82, ../sass/style.scss */
.header-wrapper header #search_box {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: left;
  padding: 12px;
}
/* line 87, ../sass/style.scss */
.header-wrapper header #search_box .select_box {
  background: #4ea329;
  float: left;
  font-size: 10px;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  color: white;
  padding: 12px;
  font-family: "Nimbus Sans L";
}
/* line 99, ../sass/style.scss */
.header-wrapper header #search_box input {
  font-size: 14px;
  line-height: 14px;
  float: left;
  height: 38px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/* line 108, ../sass/style.scss */
.header-wrapper header #search_box input[type=text] {
  border: solid 1px #e0e0e0;
  padding-left: 12px;
  font-style: italic;
  background: url(../images/svg/background_icon.svg) no-repeat white;
}
/* line 114, ../sass/style.scss */
.header-wrapper header #search_box input[type=text]:focus {
  background: white;
}
/* line 119, ../sass/style.scss */
.header-wrapper header #search_box input[type=submit] {
  background: url(../images/svg/icon_search.svg) no-repeat #e0e0e0;
  width: 38px;
  content: ".";
}

/* line 130, ../sass/style.scss */
.footer-wrapper {
  background: #545454;
  display: block;
}
/* line 134, ../sass/style.scss */
.footer-wrapper footer {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 12px;
  width: 960px;
}
/* line 139, ../sass/style.scss */
.footer-wrapper .block {
  font-family: "Nimbus Sans L";
  font-size: 14px;
  float: right;
  color: white;
  line-height: 14px;
  padding: 12px;
}
/* line 147, ../sass/style.scss */
.footer-wrapper .block li {
  font-size: 8px;
}
/* line 150, ../sass/style.scss */
.footer-wrapper .block li:first-child {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 156, ../sass/style.scss */
.footer-wrapper .block li a:hover {
  color: #4ea329;
}
/* line 161, ../sass/style.scss */
.footer-wrapper .block .social-sprite, .footer-wrapper .block .social-sprite li a .social-social-g, .footer-wrapper .block .social-sprite li a .social-social-tw, .footer-wrapper .block .social-sprite li a .social-social-in, .footer-wrapper .block .social-sprite li a .social-social-f, .footer-wrapper .block .social-sprite li a .social-social-yt {
  position: relative;
}
/* line 163, ../sass/style.scss */
.footer-wrapper .block .social-sprite li, .footer-wrapper .block .social-sprite li a .social-social-g li, .footer-wrapper .block .social-sprite li a .social-social-tw li, .footer-wrapper .block .social-sprite li a .social-social-in li, .footer-wrapper .block .social-sprite li a .social-social-f li, .footer-wrapper .block .social-sprite li a .social-social-yt li {
  list-style: none;
  margin: 0px;
  padding: opx;
  position: absolute;
  top: 0px;
}
/* line 169, ../sass/style.scss */
.footer-wrapper .block .social-sprite li a, .footer-wrapper .block .social-sprite li a .social-social-g li a, .footer-wrapper .block .social-sprite li a .social-social-tw li a, .footer-wrapper .block .social-sprite li a .social-social-in li a, .footer-wrapper .block .social-sprite li a .social-social-f li a, .footer-wrapper .block .social-sprite li a .social-social-yt li a {
  display: block;
  height: 38px;
  width: 38px;
}
/* line 173, ../sass/style.scss */
.footer-wrapper .block .social-sprite li a .social-social-g {
  background-position: 0 -38px;
}
/* line 174, ../sass/style.scss */
.footer-wrapper .block .social-sprite li a .social-social-tw {
  background-position: 0 -76px;
}
/* line 175, ../sass/style.scss */
.footer-wrapper .block .social-sprite li a .social-social-in {
  background-position: 0 -114px;
}
/* line 176, ../sass/style.scss */
.footer-wrapper .block .social-sprite li a .social-social-f {
  background-position: 0 -152px;
}
/* line 177, ../sass/style.scss */
.footer-wrapper .block .social-sprite li a .social-social-yt {
  background-position: 0 0;
}
