/* line 74, social/*.png */
.social-sprite, .social-social-f, .social-social-g, .social-social-in, .social-social-tw, .social-social-yt {
  background: url('../images/social-s204c27c7e5.png') no-repeat;
}

/* line 60, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-social-f {
  background-position: 0 -152px;
}

/* line 60, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-social-g {
  background-position: 0 -38px;
}

/* line 60, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-social-in {
  background-position: 0 -114px;
}

/* line 60, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-social-tw {
  background-position: 0 -76px;
}

/* line 60, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.social-social-yt {
  background-position: 0 0;
}

/* line 9, ../sass/style.scss */
body {
  background: white;
  color: black;
  font-family: "Adelle_Regular";
  font-size: 14px;
}

/* line 16, ../sass/style.scss */
.header-wrapper {
  background: #7bd454;
  display: block;
  text-align: center;
}
/* line 20, ../sass/style.scss */
.header-wrapper header {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 960px;
  padding: 12px;
}
/* line 24, ../sass/style.scss */
.header-wrapper header #user_menu {
  float: right;
}
/* line 26, ../sass/style.scss */
.header-wrapper header #user_menu .menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 28, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item {
  font-family: "Nimbus Sans L";
  font-size: 10px;
  font-weight: bold;
  float: left;
  color: white;
  padding: 24px 0 24px 12px;
  cursor: pointer;
}
/* line 36, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item:hover {
  color: #4ea329;
}
/* line 39, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item:last-child {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #5ec431;
  margin-left: 12px;
  text-transform: uppercase;
  padding: 24px 12px;
}
/* line 46, ../sass/style.scss */
.header-wrapper header #user_menu .menu .menu_item:last-child:hover {
  background: #4ea329;
  color: white;
}
/* line 54, ../sass/style.scss */
.header-wrapper header #help_menu {
  float: left;
}
/* line 56, ../sass/style.scss */
.header-wrapper header #help_menu .menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 58, ../sass/style.scss */
.header-wrapper header #help_menu .menu .menu_item {
  float: left;
  font-family: "Nimbus Sans L";
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 24px 0 24px 12px;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 67, ../sass/style.scss */
.header-wrapper header #help_menu .menu .menu_item:hover {
  color: #4ea329;
}
/* line 70, ../sass/style.scss */
.header-wrapper header #help_menu .menu .menu_item:last-child {
  margin-left: 12px;
}
/* line 76, ../sass/style.scss */
.header-wrapper header #search_box {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: left;
  padding: 12px;
}
/* line 80, ../sass/style.scss */
.header-wrapper header #search_box .select_box {
  background: #4ea329;
  float: left;
  font-size: 10px;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  color: white;
  padding: 12px;
  font-family: "Nimbus Sans L";
}
/* line 91, ../sass/style.scss */
.header-wrapper header #search_box input {
  font-size: 14px;
  line-height: 14px;
  float: left;
  height: 38px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/* line 99, ../sass/style.scss */
.header-wrapper header #search_box input[type=text] {
  border: solid 1px #e0e0e0;
  padding-left: 12px;
  font-style: italic;
  background: url(../images/svg/background_icon.svg) no-repeat white;
}
/* line 104, ../sass/style.scss */
.header-wrapper header #search_box input[type=text]:focus {
  background: white;
}
/* line 108, ../sass/style.scss */
.header-wrapper header #search_box input[type=submit] {
  background: url(../images/svg/icon_search.svg) no-repeat #e0e0e0;
  width: 38px;
  content: ".";
}

/* line 118, ../sass/style.scss */
.footer-wrapper {
  background: #545454;
  display: block;
  text-align: center;
}
/* line 122, ../sass/style.scss */
.footer-wrapper footer {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 12px;
  width: 960px;
}
/* line 127, ../sass/style.scss */
.footer-wrapper .block {
  font-family: "Nimbus Sans L";
  font-size: 14px;
  float: right;
  color: white;
  line-height: 14px;
  padding: 12px;
  width: 150px;
}
/* line 135, ../sass/style.scss */
.footer-wrapper .block li {
  font-size: 8px;
}
/* line 137, ../sass/style.scss */
.footer-wrapper .block li:first-child {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 141, ../sass/style.scss */
.footer-wrapper .block li a {
  text-decoration: none;
  color: white;
}
/* line 144, ../sass/style.scss */
.footer-wrapper .block li a:hover {
  color: #4ea329;
  text-decoration: none;
}
/* line 151, ../sass/style.scss */
.footer-wrapper .block li .social li:last-child {
  font-style: italic;
  text-transform: lowercase;
}
/* line 158, ../sass/style.scss */
.footer-wrapper .block .social-sprite, .footer-wrapper .block .social-social-f, .footer-wrapper .block .social-social-g, .footer-wrapper .block .social-social-in, .footer-wrapper .block .social-social-tw, .footer-wrapper .block .social-social-yt {
  height: 38px;
  text-align: center;
  width: 210px;
}
/* line 162, ../sass/style.scss */
.footer-wrapper .block .social-sprite li, .footer-wrapper .block .social-social-f li, .footer-wrapper .block .social-social-g li, .footer-wrapper .block .social-social-in li, .footer-wrapper .block .social-social-tw li, .footer-wrapper .block .social-social-yt li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 38px;
  width: 38px;
}
/* line 166, ../sass/style.scss */
.footer-wrapper .block .social-sprite li a, .footer-wrapper .block .social-social-f li a, .footer-wrapper .block .social-social-g li a, .footer-wrapper .block .social-social-in li a, .footer-wrapper .block .social-social-tw li a, .footer-wrapper .block .social-social-yt li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  text-indent: 100%;
  width: 100%;
  white-space: nowrap;
}
/* line 177, ../sass/style.scss */
.footer-wrapper .block .first_list {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 50px;
  width: 120px;
}
/* line 181, ../sass/style.scss */
.footer-wrapper .block .first_list .logo {
  background: url(../images/svg/logo.svg) no-repeat;
}
/* line 185, ../sass/style.scss */
.footer-wrapper .block .fifth_list {
  height: 38px;
  width: 110px;
}
/* line 189, ../sass/style.scss */
.footer-wrapper .block .fifth_list li:first-child {
  background: url(../images/svg/icon_people.svg) no-repeat;
  padding-left: 24px;
}
/* line 193, ../sass/style.scss */
.footer-wrapper .block .fifth_list li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  vertical-align: middle;
  width: 90px;
}
/* line 201, ../sass/style.scss */
.footer-wrapper .block .sixth_list {
  height: 38px;
  padding-top: 12px;
  width: 50px;
}
/* line 205, ../sass/style.scss */
.footer-wrapper .block .sixth_list li {
  background: url(../images/svg/find_job.svg) no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 25px;
  width: 26px;
  padding-left: 24px;
}
/* line 211, ../sass/style.scss */
.footer-wrapper .block .sixth_list li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
